<section class="projet">
    <div class="desc">
        <section class="demarche">
            <h3 class="titre">Maxime Lacasse Germain</h3>
             <p class="descTxt">Passionné de multimédia, je cherche constamment à perfectionner mes compétences en développement Web et en programmation de jeux vidéo. Je suis stimulé par les défis techniques et la recherche de solutions.</p><br>
            <p class="descTxt"> Je termine présentement ma formation en Intégration multimédia où j’ai pu acquérir de nombreuses notions de programmation et de conception Web. À terme, je désire me spécialiser vers un profil de développeur «Full-stack» autant en web qu'en jeux vidéo. De plus, infographiste depuis presque trois ans, mes connaissances des logiciels de la suite Adobe (Photoshop, Illustrator, Indesign) sont désormais excellentes.</p><br>
        </section>
        <section class="parcoursPro">
                <h3 class="titre">Parcours professionnel</h3>
                <p class="descTxt">Présent dans le milieu artistique depuis plusieurs années, j'ai pu découvrir et parfaire plusieurs facettes de ma démarche artistique. Plus récemment, j'ai découvert un intérêt marqué pour la programmation et les arts numériques. À terme, j'aimerais développer d'autres compétences en développement autant en web qu'en jeux vidéo</p><br>
                <h4>Mon parcours en bref</h4>
                <ul>
                    <li>2015-2018 || Techniques en Intégration multimédia. Collège de Maisonneuve</li>
                    <li>2015-2018 || Infographiste, Réseau Technoscience</li>
                    <li>2011-2015 || Attestation d'études collégiales, Graphisme. Collège Ahuntsic</li>
                    <li>2007-2015 || Enseignant, Arts &amp; multimédia. École secondaire d'Anjou</li>
                    <li>2003-2007 || Baccalauréat en beaux-arts, spécialisé en enseignement. Université Concordia</li>
                    <li>2001-2003 || Études préuniversitaires, Arts plastiques. Cégep de l'Abitibi-Témiscamingue</li>
                </ul>
        </section>
        <section class="compWeb">
                <h3 class="titre">Compétences Web</h3>
                <div class="divComp">
                    <p>HTML</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="95"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>CSS3</p>
                    <div class="compConteneur" >
                        <div class="competence" data-value="85"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>LESS/SASS</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="75"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>JavaScript</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="90"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>NodeJS</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="75"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>PHP</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="80"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>Wordpress</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="75"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>Git</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="85"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>MySQL</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="85"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>MongoDB</p>
                    <div class="compConteneur">
                        <div class="competence"  data-value="50"></div>
                    </div>
                </div>
                <div class="divComp">
                    <p>Connaissances</p>
                    <p>CodeIgniter, Bootstrap, Three.js, Chart.js, Socket.io</p>
                </div>
                
        </section>
        <section class="compJeux">
                <h3 class="titre">Compétences en jeux vidéo</h3>
                <div>
                    <p>Unity 2d/3d (JS/C#)</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="85"></div>
                    </div>
                </div>
                <div>
                    <p>Phaser.js</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="85"></div>
                    </div>
                </div>
                <div>
                    <p>Autodesk Maya</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="70"></div>
                    </div>
                </div>
                <div>
                    <p>Adobe Animate (Flash)</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="60"></div>
                    </div>
                </div>
                <div>
                    <p>Connaissances</p>
                    <p>ToonBoom, Tiled, Spriter, Blender</p>
                </div>
        </section>
        <section class="compMulti">
                <h3 class="titre">Compétences en multimédia</h3>
                <div>
                    <p>Création numérique matricielle || Adobe Photoshop</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="95"></div>
                    </div>
                </div>
                <div>
                    <p>Création numérique vectorielle || Adobe Illustrator</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="95"></div>
                    </div>
                </div>
                <div>
                    <p>Mise en page || Adobe Indesign</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="95"></div>
                    </div>
                </div>
                <div>
                    <p>Montage vidéo || Adobe Premiere</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="70"></div>
                    </div>
                </div>
                <div>
                    <p>Post-Production || Adobe AfterEffect</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="70"></div>
                    </div>
                </div>
                <div>
                    <p>Création sonore || Logic Pro</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="60"></div>
                    </div>
                </div>
                <div>
                    <p>Photographie</p>
                    <div class="compConteneur">
                        <div class="competence" data-value="40"></div>
                    </div>
                </div>
                <div>
                    <p>Connaissances</p>
                    <p>Tiled, Spriter, Blender, ToonBoom, Adobe Audition, Adobe Lightroom</p>
                </div>
        </section>
        <section class="interets">
                <h3 class="titre">Autres intérêts</h3>
                <p class="descTxt"> Passionné de création en général, j'ai également des intérêts pour l'apprentissage des langues, la lecture, la natation et le jardinage.</p>
        </section>
        <section class="contact">
                <h3 class="titre">Contactez-moi!</h3>
                <div>
                    <form action="/traiterCourriel" method="POST">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" id="nomContact" placeholder="Votre nom" required>
                        <label for="courriel">Courriel</label>
                        <input name="courriel" id="courrielContact" placeholder="Votre courriel" required>
                        <textarea name="msg" id="msgContact" cols="15" rows="10" placeholder="Votre message" required></textarea>
                        <input type="submit" value="Envoyer">
                    </form>
                </div>
        </section>
        <section class="envoiComplet">
                <h3 class="titre">Merci</h3>
                <p class="descTxt">Merci de votre intérêt! Un message de confirmation vous sera envoyé sous peu. Je vous répondrai dans les plus brefs délais</p>
        </section>
    </div>

</section>