<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="bWMUsHZp_fhQryiOITy2X7M5NHYPxtSFOmpAVxCIwj4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= data.infosPage.description %>"/> 
    <meta name="robots" content="<%= data.infosPage.robots %>"/> 
    <meta name="keywords" content="<%= data.infosPage.keywords %>"/> 
    <title><%= data.infosPage.title %></title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>    
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

