<section class="listeProjets">
    <nav>
        <h3 class="catProjets">Bio</h3>
        <ul>
            <li class="courant" data-section="demarche"><a href="#"  class="navProjet">Maxime Lacasse Germain</a></li>
            <li data-section="parcoursPro"><a href="#" class="navProjet" >Parcours professionnel</a></li>
            <li data-section="compWeb"><a href="#" class="navProjet" >Compétences web</a></li>
            <li data-section="compJeux"><a href="#" class="navProjet" >Compétences jeux vidéo</a></li>
            <li data-section="compMulti"><a href="#" class="navProjet" >Compétences multimédia</a></li>
            <li data-section="interets"><a href="#" class="navProjet">Intérêts</a></li>
            <li data-section="contact"><a href="#" class="navProjet" >Contactez-moi</a></li>
        </ul>
    </nav>
    <div class="retourAccueil">
        <div class="logoConteneur">
            <a href="/"><img src="img/SVG/logoNomCoul.svg" alt="Retour à la page d'accueil"></a>
        </div>
    </div>
</section>