<nav>
    <ul>
        <li><a href="/web">Web</a></li>
        <li><a href="/jeuxvideo">Jeux vidéo</a></li>
        <li><a href="/multimedias">Multimédias</a></li>
        <li><a href="/bio">Bio</a></li>
    </ul>
</nav>