<section class="projet">
    <div class="imgGroupe">
        <%#Navigation pour les images en requêtes Ajax %>
        <nav class="imgGroupe">
            <ul>
                <li class="gabarit desactive"></li>
            </ul>
        </nav>
        <div class="imgConteneur">
            <img src="img/oeuvres/gisement-menu-1200x700.jpg" alt="oeuvre" class="gabarit desactive">
        </div>
        <aside>
            <div class="etiquetteConteneur">
                <p class="icone">
                    <i class="fas fa-tag fa-2x"></i>
                </p>
                <p class="etiquettes">web, cms, exploration</p>
            </div>
            <div class="aimeConteneur">
                <p class="icone">
                    <i class="fa fa-heart fa-2x"></i>
                </p>
                <p class="aime">104</p>
            </div>
            <div class="tempsConteneur">
                <p class="icone">
                    <i class="fa fa-hourglass-half fa-2x"></i>
                </p>
                <p class="temps">20 hres</p>
            </div>
            <div class="lienConteneur">
                    <p class="icone">
                        <i class="fa fa-desktop fa-2x"></i>
                    </p>
                    <p class="lien"><a href="#" target="_blank">Aller au site</a></p>
                </div>
        </aside>
    </div>
    <div class="desc">
        <h3 class="titre">Titre</h3>
        <p class="descTxt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab eaque architecto minus ex? Non, consequuntur ex?
            Repellendus, ipsa, obcaecati aut sapiente delectus, similique inventore eligendi numquam voluptatibus maxime
            nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab eaque architecto minus ex? Non, consequuntur
            ex? Repellendus, ipsa, obcaecati aut sapiente delectus, similique inventore eligendi numquam voluptatibus maxime
            nam?
        </p>
    </div>

</section>