<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="stylesheet" href="/css/admin.css"> 
    <title>Admin</title>
</head>
<body>
    <div class="conteneurPrinc admin">
            <div class="formConteneur">
                <div class="imgConteneur">
                    <img src="img/SVG/logoNomCoul.svg" alt="logo">
                </div>
                <form action="/adminConnexion" method="POST">
                    <label for="utilisateur">Utilisateur</label>
                    <input type="text" id="utilisateur" placeholder="Utilisateur" name="utilisateur">
                    <label for="mdp">Mot de passe</label>
                    <input type="text" id="mdp" placeholder="Mot de passe" name="mdp">
                    <input type="submit" value="Se connecter">
                </form>
            </div>
    </div>
</body>
</html>