<% include partials/entete %>
<%# CONTENU DE LA PAGE %>
<div class="conteneurPrinc bio">
    <% include partials/listeBio %>
    <% include partials/bioContenu %>
</div>
<script src="/js/navBio.js"></script>
</body>
</html>