<% include partials/entete %>
<%# CONTENU DE LA PAGE %>
<div class="conteneurPrinc accueil">
    <header>
        <div class="logoGroupe">
            <img src="img/SVG/logoNomCoul.svg" alt="Maxime Lacasse Germain" class="logo">
            <h1 class="logo">Intégration multimédia</h1>
        </div>
        <nav class="navPrinc">
            <ul>
                <li>
                    <a href="/web">Web</a>
                </li>
                <li>
                    <a href="jeux-video">Jeux vidéo</a>
                </li>
                <li>
                    <a href="multimedia">Multimédia</a>
                </li>
                <li>
                    <a href="bio">Bio</a>
                </li>
            </ul>
        </nav>
    </header>
   
    <%# PIED DE PAGE%>
    <% include partials/footer %>
</div>
<section class="fondAnim">
</section>
<script src="js/three.js"></script>
<script src="js/animAccueil.js"></script>
</body>
</html>