<% include partials/entete %>
<%# CONTENU DE LA PAGE %>
<div class="conteneurPrinc projets">
    <% include partials/listeProjets %>
    <% include partials/projet %>
</div>
<script src="js/navProjets.js"></script>
</body>
</html>